body {
    background-color: yellow;

    input[type="submit"] {
        font-weight: bold;
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px;
        background-color: lightblue;
    }
}
